:root {
    --primary-color: #66999B;
    --secondary-color: #323e4d;
    --terciary-color: #f4eec3;
    --accent1-color: #66999B;
    --accent2-color: #496A81;
    --heading-font: "Roboto", serif;
    --text-font: "Nunito Sans", serif;


  }
  .footer {
   
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
  }
  
  .footer p {
    text-align: center;
    justify-self: center; 
    margin-left: 8rem;
  }

  .adventure img{
    max-width: 13rem;
    height: auto;
  }
  .adventure figure{
    justify-content: center;
    max-width: 13rem;
  }
  .adventure-container h2{
    text-align: center;
  }
  .adventure{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
    border-bottom: 1px solid #ccc;
    
  }

  .history-div{
    display: grid;
    justify-content: center;
  }
  .history img {
    width: 43vh;
    margin-bottom: 2rem;

  }
  .history-section h2{
    text-align: center;

  }
  .history{
    gap: 1rem;
    margin: 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    border-bottom: 1px solid #ccc;
    
  }

  .navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navigation li {
    flex: 1 1 auto;
  }
  
  .navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
  }

 .header img {
    margin: 0 0.25rem 0 100px;
    width: 140px;
    height: auto;
  }
  header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
  }
  
  
  body {
    max-width: 1920px;
  }
  figcaption{
    font-family: var(--text-font);
    color: var(--secondary-color);
    text-align: center;
  }
  p{
    font-family: var(--text-font);
    color: var(--secondary-color);
  }
  
  h1, h2, h3, h4, h5, h6,a {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  .sociallinks a, .header a{
    text-decoration: none;
    
  }
 
.hero p{
  color: var(--terciary-color);
}
  .hero {
    display: flex;
    position: relative; 
    width: 100%;
    height: 500px;
    overflow: hidden; 
    justify-content: center; 
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.hero h1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);;
    width: 100%;
    position: absolute;
    top: 20px; 
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}

.hero article {
    margin-right: 20px;
    width: fit-content;
    display: inline flex;
    position: absolute;
    bottom: 20px; 
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 15px;
    border-radius: 8px;
}

.hero article img {
    width: 350px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.sociallinks img{
    width: 32px;
}